/* spacing */

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #4cafaa;
    float: left; 
  }
 
  
  th,
  td {
    border-collapse: collapse;
    padding: 10px 15px;
    border: 1px solid #ddd;
  }

  thead,
  tfoot {
    color: rgb(237, 233, 233);
    
  }
  
  thead th,
  tfoot th,
  tfoot td {
    background: linear-gradient(
      to bottom,
      rgb(76, 175, 170),
      rgb(3, 105, 100)
    );
  }
  

  
.custom-button { 
  background-color: rgb(76, 175, 170); 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
  text-align: center; 
  margin-bottom: 20px;
}
.custom-button:hover {
  background-color: #340dc3;
}